@import 'common';
@import './section/header';
@import './section/aside';
@import './section/container';


body {
  .wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(43, 56, 68, 1);
    main {
      display: flex;
      justify-content: space-between;
      max-width: 1360px;
      max-height: 2000px;
      gap: 20px;
      background-color: inherit;
      margin: 0 auto;
      padding: 0 1%;
    }
  }
}